# Requirements for building the documentation
sphinx
sphinx-rtd-theme
myst-parser
obonet

# Project dependencies
numpy
pandas
torch
scikit-learn
scipy
statsmodels
networkx
matplotlib
seaborn
tqdm
mlflow
dvc
